<p>Hi <%= @user.first_name || 'there' %>,</p>

<p>Click the link below to reset your password:</p>

<p><%= link_to 'Reset Password', @reset_url %></p>

<p>If you didn't request this, please ignore this email.</p>
